* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00b7af;
}

header {
    border: #fee7b3 inset;
    color: #fee7b3;
    height: 10vh;
    padding-inline: 2em;
    padding-block: 0.8em;
}

section {
    width: 30vw;
    height: 65vh;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    border: #fee7b3 outset 5px;
    border-radius: 40px;
    background-color: #fee7b3;
    color: #e9630a;
}

button {
    width: 80px;
    height: 30px;
    color: #01605a;
    background-color: #ffd0a8;
    border: none;
    border-radius: 100px;
}

.displays,
.result {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

footer {
    height: 5vh;
    width: 100vw;
    background-color: #e9630a;
    color: #fee7b3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;


}